<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../complete-package/head.ejs')%>
</head>
<body>
  <header>
    <%- include('../complete-package/header.ejs')%>
  </header>
  <section>

    <p><%= samplonien.id%></p>
    <p><%= samplonien.userId%></p>
    <p><%= samplonien.name%></p>
    <p><%= samplonien.githubUrl %></p>
    <p><%= samplonien.githubRepo%></p>

  </section>
  <footer>
    <%- include('../complete-package/footer.ejs')%>
  </footer>
</body>
</html>
