<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../complete-package/head.ejs')%>
</head>
<body>

  <header>
    <%- include('../complete-package/header.ejs')%>
  </header>
  <section>
    <% students.map(function(names){ %>
      <a href= <%= "/users/" + names.id %>><p><%= names.firstName%></p></a>
    <% })%>
  </section>

  <footer>
    <%- include('../complete-package/footer.ejs')%>
  </footer>

</body>
</html>
