<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../complete-package/head.ejs')%>
</head>
<body>
  <header>
    <%- include('../complete-package/header.ejs')%>
  </header>
  <section>
    <p>info of the student</p>
    <p><%= names.firstName%></p>
    <p><%= names.id%></p>
    <p><%= names.pseudoGithub%></p>

  </section>
  <footer>
    <%- include('../complete-package/footer.ejs')%>
  </footer>
</body>
</html>
